@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.lineup {
    background-color: v.$azul;
    h3, .dia {
        text-align: center;
        color: v.$blanco;
    }
    .dia {
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.escenarios-contenedor {
    @include m.contenedor;
    @include m.tablet {
        @include m.grid(2);
    }
}

.escenario {
    padding-top: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    .nombre-escenario {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color: v.$blanco;
    }
}

.calendario {
    @include m.resetear-lista;
    li {
        color: v.$blanco;
        padding: 2.5rem;
        font-weight: 700;
        span {
            font-weight: 400;
        }
    }
}

.bg-azul {
    background-color: v.$azul;
    li:nth-child(odd) {
        /* background-color: lighten(v.$azul, 5%); */
        background-color: color.adjust(v.$azul, $lightness: 5%);
    }
}

.border-verde {
    background-color: v.$verde;
    border: 2px solid v.$verde;
}

.border-morado {
    background-color: v.$morado;
    border: 2px solid v.$morado;
}